<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Vue Todo Tutorial</title>
    <link rel="stylesheet" type="text/css" href="style.css">

</head>

<body>
    <div id="todo-app">
        <div>
            <input type="button" value="全部标为完成" @click="markAllAsCompleted" />
            <input type="text" placeholder="添加 todo" v-model="newTodoTitle" @keyup.enter="addTodo" />
        </div>
        <!-- todo list -->
        <ul>
            <todo-item v-for="todo in filteredTodos"
                       :todo="todo"
                       :key="todo.id"
                       @remove-todo="removeTodo"></todo-item>
        </ul>
        <!-- end todo list -->
        <div>
            <span>剩余{{leftTodosCount}}项未完成 ---</span>
            <span>筛选：
                <input type="button" :class="{selected:intention =='all'}" value="全部"
                       @click="intention='all'">
                <input type="button" value="进行中"
                       :class="{selected:intention =='ongoing'}"
                       @click="intention='ongoing'">
                <input type="button" value="已完成"
                       :class="{selected:intention =='completed'}"
                       @click="intention='completed'">
                <input type="button" value="清除已完成"
                       @click="clearCompleted">
                <input type="button" value="清除全部"
                       @click="clearAll">
            </span>
        </div>
    </div>
    <script type="text/x-template" id="todo-item">
            <li>
                <span :class="{completed:todo.completed}" @dblclick="editTodo(todo)">{{todo.title}}</span>
                <input type="button" value="标为完成" @click="markAsCompleted(todo)">
                <input type="button" value="删除" @click="removeTodo(todo)">
                <input type="text" value="编辑 todo..." v-if="editing" v-model="todo.title" @keyup.enter="editDone(todo)" @keyup.esc="cancelEdit(todo)" v-focus="true" />
            </li>
    </script>

    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script>
         //storage begin
        var STORAGE_KEY = 'vue2.x-todo-tutorial';
        var todoStorage = {
            fetch:function(){
                var todos = JSON.parse(localStorage.getItem(STORAGE_KEY)||'[]');
                todos.forEach(function(todo,index){
                    todo.id=index
                });
                todoStorage.uid = todos.length;
                return todos
            },
            save: function(todos){
                localStorage.setItem(STORAGE_KEY,JSON.stringify(todos))
            }
        }
        //storage finish
        Vue.component('todo-item',{
            template:'#todo-item',
            data:function(){
                return{
                    editedTodo: null, //temperarily store todo before it is edited
                }
            },
            props:{
                todo:{
                    type:Object,
                    required:true,               
                },
            },
            methods:{
                markAsCompleted: function(todo) {
                    todo.completed = true
                },
                removeTodo: function(todo) {
                    this.$emit('remove-todo',todo)

                    
                },
                editTodo: function(todo) {
                    this.editedTodo = {
                        id: todo.id,
                        title: todo.title
                    }
                },
                editDone: function(todo) {
                    this.editedTodo = null;
                    if (!this.todo) this.removeTodo(todo) //when todo is empty.remove it when user hit enter
                },
                cancelEdit: function(todo) {
                    todo.title = this.editedTodo.title;
                    this.editedTodo = null
                },
                
            },
            computed:{
                editing:function(){
                    return this.editedTodo!==null && this.editedTodo.id===this.todo.id
                }
            },
            directives: {
                focus: {
                    inserted: function(el) {
                        el.focus()
                    }
                }
            }
            
        })
        let id = 0;
        var app = new Vue({
            el: '#todo-app',
            data: function() {
                return {
                    todos: todoStorage.fetch(),
                    newTodoTitle: '',
                    
                    intention: 'all',
                    selected:false


                }
            },
            //listening the chanages of todo list and store the state in locaal storage
            watch:{
                todos:{
                    handler:function(todos){
                        todoStorage.save(todos)
                    },
                    deep:true
                }
            },
            methods: {
                addTodo: function() {
                    if (this.newTodoTitle.length) {
                        this.todos.push({
                            id:todoStorage.uid++,
                            title: this.newTodoTitle,
                            completed: false
                        });
                        this.newTodoTitle = ''
                    }

                },
                removeTodo:function(todo){
                  this.todos.splice(this.todos.indexOf(todo), 1)
                },
                
                markAllAsCompleted: function() {
                    this.todos.map(function(todo) {
                        if (!todo.completed) {
                            todo.completed = true
                        }
                    })
                },
                clearCompleted:function(){
                    this.todos=this.todos.filter(todo=>!todo.completed)
                },
                clearAll:function(){
                    this.todos=[]
                }


            },
            computed: {
                leftTodos: function() {
                    return this.todos.filter(todo => !todo.completed)
                },
                leftTodosCount: function() {
                    return this.leftTodos.length
                },
                filteredTodos: function() {
                    if (this.intention === 'ongoing') {
                        return this.leftTodos
                    } else if (this.intention === 'completed') {
                        return this.todos.filter(todo => todo.completed)
                    } else {
                        return this.todos
                    }
                }

            },
            
        });
       

    </script>
</body>

</html>
