*{
    margin: 0;
    padding: 0;
}
#todo-app{
    width: 400px;
    margin:100px auto
    
}

   

.empty{
    border-color: red;
}
.completed{
    text-decoration: line-through;
}
.selected{
    background-color: bisque;
}